<app-header></app-header>
<div class="previous-exam">
  <div class="previous-exam-container">
    <div class="back-container">
      <fa-icon
        [icon]="back"
        class="fa-2x back"
        title="Nazad"
        routerLink="/student/previous-exams"
      ></fa-icon>
    </div>
    <ng-container *ngIf="loading; else loaded">
      <div>Loading</div>
    </ng-container>
    <ng-template #loaded>
      <div class="general-info">
        <div class="test-name">
          <h1>
            {{
              testInstanceResult.testName + " - " + testInstanceResult.student
            }}
          </h1>
          <ng-container *ngIf="testInstanceResult.allChecked; else notChecked">
            <div class="test-status checked">Ispravljeno</div>
          </ng-container>
          <ng-template #notChecked>
            <div class="test-status notChecked">Djelomično ispravljeno</div>
          </ng-template>
        </div>
        <div class="info">
          <div class="row">
            <div class="group">
              <p class="name">Opis</p>
              <p class="value">
                {{
                  testInstanceResult.description
                    ? testInstanceResult.description
                    : "-"
                }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="group">
              <p class="name">Ostvaren broj bodova</p>
              <p class="value">
                {{
                  testInstanceResult.studentTotalPoints +
                    "/" +
                    testInstanceResult.testTotalPoints
                }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="group">
              <p class="name">Postotak riješenosti</p>
              <p class="value">
                {{ testInstanceResult.successPercentage.toFixed(2) + "%" }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="tasks-container">
        <app-task-result-card
          [currentUser]="currentUser$ | async"
          *ngFor="let task of testInstanceResult.testTasks; let index = index"
          [task]="task"
          [class]="'task' + task.id"
          [index]="index"
        ></app-task-result-card>
      </div>
    </ng-template>
  </div>
</div>
