.previous-exam {
  padding: var(--elements-space) var(--padding-size-0);
  height: auto;
  width: 100%;
  background-color: var(--gray-background-color);
  display: flex;
  justify-content: center;
  position: relative;

  &-container {
    .back-container {
      margin-bottom: 10px;
      .back {
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        color: var(--primary-color);
      }
    }

    .general-info {
      padding: 20px;
      width: 100%;
      font-size: var(--paragraph-font-size);
      background: white;

      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);

      .test-name {
        display: flex;
        justify-content: space-between;
        color: var(--primary-color);

        .test-status {
          border: 0;
          color: #fff;
          font-size: var(--font-size-h5);
          padding: 5px 10px;
          border-radius: 10px;
          text-transform: uppercase;
          height: min-content;
        }
        .checked {
          background-color: var(--success-green-color);
        }
        .notChecked {
          background-color: var(--blue-color);
        }
      }

      .info {
        .group {
          margin: 10px 0;

          .name {
            color: var(--gray-color);
            margin: 0;
          }
        }
      }
    }

    .tasks-container {
      .task {
        font-size: var(--paragraph-font-size);
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
          0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin: 20px 0;
      }

      .noTask {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
