<app-header></app-header>

<div class="exam">
  <div class="exam-container">
    <div class="general-info">Ovdje opis ispita</div>

    <div class="tasks-container">
      <ng-container *ngIf="tasks$ | async as tasks; else loading">
        <ng-container *ngIf="tasks.length; else noTasks">
          <app-task-card
            *ngFor="let task of tasks"
            [task]="task"
          ></app-task-card>
        </ng-container>
        <ng-template #noTasks>Nema zadataka</ng-template></ng-container
      >

      <ng-template #loading>Loading</ng-template>

      <div *ngIf="createTaskOpened" class="task">
        <app-create-task-card [testId]="testId"></app-create-task-card>
      </div>
    </div>
  </div>

  <div class="add-task" (click)="createTask()">Dodaj zadatak</div>
</div>
