<app-header></app-header>

<div class="subject">
  <div class="subject-container">
    <div class="back-container">
      <fa-icon
        [icon]="back"
        class="fa-2x back"
        title="Nazad"
        routerLink="/teacher/subjects"
      ></fa-icon>
    </div>
    <ng-container
      *ngIf="subjectDetails$ | async as subjectDetails; else loading"
    >
      <div class="general-info-containers">
        <div class="general-info-container padding-right" style="height: 495px">
          <div class="rows-container">
            <div class="title">
              <h2>Predmet</h2>
              <fa-icon [icon]="editIcon" (click)="edit()"></fa-icon>
            </div>

            <p class="subject-info">
              <span>Naziv:</span>
              <span>{{ subjectDetails.name }}</span>
            </p>

            <p class="subject-info">
              <span>Broj učenika:</span>
              <span>{{
                subjectDetails.students ? subjectDetails.students.length : "0"
              }}</span>
            </p>

            <p class="subject-info">
              <span>Opis:</span>
              <span>{{
                subjectDetails.description ? subjectDetails.description : "-"
              }}</span>
            </p>
          </div>
        </div>

        <div class="general-info-container flex-2">
          <div class="rows-container">
            <div class="title">
              <h2>Učenici</h2>
            </div>
            <div class="students-container">
              <table
                *ngIf="subjectDetails.students.length !== 0; else noStudents"
              >
                <thead>
                  <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of subjectDetails.students">
                    <td class="username">
                      <p>{{ student.firstName }}</p>
                    </td>
                    <td>
                      <p>{{ student.lastName }}</p>
                    </td>
                    <td>
                      <p>{{ student.email }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #noStudents>
                <div class="no-students">Nema učenika na predmetu</div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="students-container-actions">
        <div class="add-student">
          <div class="button" (click)="onAddStudents()">Dodaj učenike</div>
        </div>
      </div>

      <div class="students-container-wrappper" style="position: relative">
        <div class="filter-container">
          <!--app-classroom-filter-bar
            (optionClick)="onFilter($event)"
            type="teacher-role-classroom-students"
          ></app-classroom-filter-bar-->
        </div>

        <div class="tests-container">
          <div class="board">
            <table
              *ngIf="subjectDetails.publishedTests.length !== 0; else noTests"
            >
              <thead>
                <tr>
                  <th>Naslov</th>
                  <th>Trajanje</th>
                  <th>Napredak</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of subjectDetails.publishedTests">
                  <td
                    class="username"
                    [routerLink]="'/teacher/exams/exam/' + test.id"
                  >
                    <p>{{ test.name }}</p>
                  </td>
                  <td>
                    <p>{{ test.duration }}</p>
                  </td>
                  <td>
                    <p>
                      {{
                        (test.finishedByStudentInstanceCount /
                          test.instanceCount) *
                          100 +
                          "%"
                      }}
                    </p>
                    <app-tooltip
                      [message]="
                        'Ispit je riješilo ' +
                        test.finishedByStudentInstanceCount +
                        '/' +
                        test.instanceCount +
                        ' učenika'
                      "
                    ></app-tooltip>
                  </td>
                  <td>
                    <ng-container *ngIf="test.active; else testClosed">
                      <div class="test-status pending">U tijeku</div>
                    </ng-container>
                    <ng-template #testClosed>
                      <div class="test-status closed">Zatvoren</div>
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="test.active">
                      <span class="button-close">Zatvori</span>
                      <app-tooltip
                        message="Učenici više neće moći pokrenuti ispit"
                      ></app-tooltip
                    ></ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noTests>
              <div class="no-students">Nema ispita na predmetu</div>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div style="height: 1000px"></div>
    </ng-template>
  </div>
</div>
