$gray-light: #f5f6f8;

main {
    padding: 20px;
    background-color: rgb(210, 205, 196);
    font-size: var(--paragraph-font-size);
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
    height: 1000px;

    .configuration-container {

        display: flex;

        .right {
            width: 100%;

            label {
                flex: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $gray-light;
                height: 56px;
            }
        }
    }

}