<main>
  <div class="configuration-container">
    <ng-container [ngSwitch]="task.type">
      <ng-container *ngSwitchCase="TaskType.SelectPolygon">
        <div class="left">
          <app-select-polygon-map
            mapType="normal"
            context="view"
            [mapId]="task.id!.toString()"
            [answers]="task.options!.optionAnswers"
          ></app-select-polygon-map>
        </div>
        <div class="right">
          <div class="form-container">
            <div class="form-group-column">
              <label for="question"> Tip zadatka </label>
              <div>Odaberi točan odgovor na karti</div>
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="TaskType.NonMap">
        <div class="left">
          <!--app-test-map></app-test-map-->
        </div>
        <div class="right">
          <div class="form-container">
            <div class="form-group-column">
              <label for="question"> Tip zadatka </label>
              <div>Obično pitanje</div>
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>

            <div class="form-group-column">
              <label for="answer"> Answer </label>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="TaskType.MarkPoint">
        <div class="left">
          <app-mark-point-map
            mapType="satellite"
            [mapId]="task.id!.toString()"
          ></app-mark-point-map>
        </div>
        <div class="right">
          <div class="form-container">
            <div class="form-group-column">
              <label for="question"> Tip zadatka </label>
              <div>Odaberi točku na karti</div>
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</main>
