<app-header></app-header>

<div class="draft-exams-page">
  <div class="draft-exams-page-container">
    <div class="students-container-actions">
      <div class="add-student">
        <div class="button" (click)="onCreateExam()">Nova skica ispita</div>
      </div>
      <div class="students-container">
        <div class="board">
          <ng-container *ngIf="tests$ | async as tests; else loading">
            <table *ngIf="tests.length !== 0; else noTests">
              <thead>
                <tr>
                  <th>Naslov</th>
                  <th>Predmet</th>
                  <th>Trajanje</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of tests">
                  <td class="username" [routerLink]="['exam', test.id]">
                    <p>{{ test.name }}</p>
                  </td>
                  <td>
                    <p>{{ test.subject }}</p>
                  </td>
                  <td>
                    <p>{{ test.duration }}</p>
                  </td>
                  <td>
                    <!--div
                      *ngIf="student.status === 'accepted'"
                      class="status accepted"
                    >
                      Accepted
                    </div>
                    <div
                      *ngIf="student.status === 'rejected'"
                      class="status rejected"
                    >
                      Rejected
                    </div>
                    <div
                      *ngIf="student.status === 'pending'"
                      class="status pending"
                    >
                      Pending
                    </div-->
                    <button class="button-publish" (click)="onPublish(test.id)">
                      Objavi
                    </button>
                    <app-tooltip message="statusMessage"></app-tooltip>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noTests>
              <div class="no-students">Trenutno nemate skice ispita</div>
            </ng-template>
          </ng-container>
          <ng-template #loading> Loading </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
