<main>
  <div class="filters-container">
    <div class="filter-item">
      <p>Odaberite tip karte</p>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="selection.selectedOption" disableOptionCentering>
          <mat-option
            [value]="option.value"
            *ngFor="let option of selection.otherOptions"
            (click)="onSelect()"
            >{{ option.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-item">
      <p>Odaberite tip zadatka</p>
      <mat-form-field appearance="fill" class="task-type">
        <mat-select
          [(value)]="selection2.selectedOption"
          disableOptionCentering
        >
          <mat-option
            [value]="option.value"
            *ngFor="let option of selection2.otherOptions"
            (click)="onSelect()"
            >{{ option.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="configuration-container">
    <ng-container [ngSwitch]="selectedTaskTypeOption">
      <ng-container *ngSwitchCase="'select_polygon'">
        <div class="left">
          <app-select-polygon-map
            [mapType]="selectedMapTypeOption"
            (onDrawnItemsChange)="drawnItemsChange($event)"
            mapId="select_polygon"
          ></app-select-polygon-map>
        </div>
        <div class="right">
          <form [formGroup]="taskForm" (ngSubmit)="submitSelectPolygon()">
            <div class="form-container">
              <div class="form-group-column">
                <label for="question"> Tekst zadatka </label>
                <app-quill-editor
                  formControlName="question"
                  errorMessage="Tekst zadatka"
                ></app-quill-editor>
              </div>
              <input
                class="submit"
                type="submit"
                value="Stvori"
                [disabled]="!taskForm.valid"
                [ngClass]="{ disabled: !taskForm.valid }"
              />
            </div>
          </form>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'non_map'">
        <div class="left">
          <!--app-test-map></app-test-map-->
        </div>
        <div class="right">
          <form [formGroup]="taskForm" (ngSubmit)="submitNonMap()">
            <div class="form-container">
              <div class="form-group-column">
                <label for="question"> Tekst zadatka </label>
                <textarea
                  formControlName="question"
                  cols="30"
                  rows="2"
                ></textarea>
              </div>

              <div class="form-group-column">
                <label for="answer"> Answer </label>
                <app-quill-editor
                  formControlName="answer"
                  errorMessage="Answer"
                ></app-quill-editor>
              </div>
              <input
                class="submit"
                type="submit"
                value="Create"
                [disabled]="!taskForm.valid"
                [ngClass]="{ disabled: !taskForm.valid }"
              />
            </div>
          </form>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'mark_point'">
        <div class="left">
          <app-mark-point-map
            [mapType]="selectedMapTypeOption"
            mapId="mark_point"
            (onPointMarked)="markedPointChanged($event)"
          ></app-mark-point-map>
        </div>
        <div class="right">
          <form [formGroup]="taskForm" (ngSubmit)="submitMarkPoint()">
            <div class="form-container">
              <div class="form-group-column">
                <label for="question"> Tekst zadatka </label>
                <app-quill-editor
                  formControlName="question"
                  errorMessage="Answer"
                ></app-quill-editor>
              </div>
              <div>Označite točan odgovor (točku) na karti</div>

              <input
                class="submit"
                type="submit"
                value="Stvori"
                [disabled]="!taskForm.valid"
                [ngClass]="{ disabled: !taskForm.valid }"
              />
            </div>
          </form>
        </div>
      </ng-container>
    </ng-container>
  </div>
</main>
