<app-header></app-header>
<div class="ongoing-exam">
  <div class="ongoing-exam-container">
    <div *ngIf="loading; else loaded" class="loading">Loading</div>
    <ng-template #loaded>
      <div class="timer-container">
        <p>Preostalo vrijeme: {{ formattedTime }}</p>
      </div>
      <div class="main-container">
        <ng-container *ngIf="tasks; else loading">
          <app-task-card
            *ngFor="let task of tasks; let index = index"
            [task]="task"
            [class]="'task' + task.id"
            [index]="index"
            [testInstanceId]="testInstanceId"
            [mode]="taskViewMode.Solving"
          ></app-task-card>
        </ng-container>

        <div class="submit-button-container">
          <app-button title="Predaj ispit" (click)="submitTest()"></app-button>
        </div>
        <ng-template #loading>Loading</ng-template>
      </div>
    </ng-template>
  </div>
</div>
