<app-header></app-header>
<p>Preostalo vrijeme: {{ formattedTime }}</p>

<div class="ongoing-exam">
  <div class="ongoing-exam-container">
    <div class="tasks-container">
      <ng-container *ngIf="tasks$ | async as tasks; else loading">
        <app-task-card
          *ngFor="let task of tasks; let index = index"
          [task]="task"
          [class]="'task' + task.id"
          [index]="index"
          mode="solving"
        ></app-task-card>
      </ng-container>

      <ng-template #loading>Loading</ng-template>
    </div>
  </div>
</div>
