.ongoing-exam {
  padding: var(--elements-space) var(--padding-size-0);
  height: auto;
  width: 100%;
  background-color: var(--gray-background-color);
  display: flex;
  justify-content: center;
  position: relative;
}
