.exams-page {
  padding: var(--elements-space) var(--padding-size-0);
  padding-bottom: 200px;
  height: auto;
  width: 100%;
  background: linear-gradient(184deg, #840a9a, #9980aa);
  display: flex;
  justify-content: center;

  .exams-page-container {
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: var(--white-color);
      font-size: calc(var(--font-size-h1) * 1.4);
      font-family: var(--primary-font-black);
      margin-bottom: var(--margin-size-4);
      text-align: center;
    }

    h1 .fun {
      color: var(--primary-color);
      font-family: var(--primary-font-black);
    }
  }
}
