<app-header></app-header>

<div class="exams-page">
  <div class="exams-page-container">
    <div class="students-container-actions">
      <div class="students-container">
        <div class="board">
          <ng-container *ngIf="tests$ | async as tests">
            <table *ngIf="tests.length !== 0; else noTests">
              <thead>
                <tr>
                  <th>Naslov</th>
                  <th>Opis</th>
                  <th>Predmet</th>
                  <th>Trajanje</th>
                  <th>Učitelj</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of tests">
                  <td
                    class="username"
                    [routerLink]="['/student', 'my-exam', test.id]"
                  >
                    <p>{{ test.name }}</p>
                  </td>
                  <td>
                    <p>
                      {{ test.description ? test.description : "-" }}
                      <span *ngIf="test.description"> </span>
                    </p>
                  </td>
                  <td>
                    <p>{{ test.subject }}</p>
                  </td>
                  <td>
                    <p>{{ test.duration }}</p>
                  </td>
                  <td>
                    <p>{{ test.teacherName }}</p>
                  </td>
                  <td>
                    <button
                      class="button-publish"
                      [routerLink]="['/student', 'ongoing-exam', test.id]"
                    >
                      Pokreni
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noTests>
              <div class="no-students">Nema neriješenih ispita</div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
