.exams-page {
  padding: var(--elements-space) var(--padding-size-0);
  padding-bottom: 200px;
  height: auto;
  width: 100%;
  background: linear-gradient(184deg, #840a9a, #9980aa);
  display: flex;
  justify-content: center;

  .exams-page-container {
    .students-container-actions {
      .add-student {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 25px;
        //padding: 0 10px;

        .button {
          background-color: white;
          //border-radius: 10px;
          padding: 10px;
          width: min-content;
          white-space: nowrap;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #2e4258;
        }
      }

      .students-container {
        flex: 3;
        min-height: 900px;
        width: 500px;
        position: relative;

        padding: 15px;
        //min-height: 350px;

        .board {
          overflow-x: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 10px;

          .no-students {
            font-size: var(--font-size-h4);
            text-align: center;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          table {
            display: grid;
            border-collapse: collapse;
            min-width: 100%;
            grid-template-columns:
              minmax(150px, 1fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr)
              minmax(170px, 1.67fr) minmax(150px, 1fr) minmax(150px, 1fr);

            max-height: 400px;

            th {
              background-color: var(--gray-background-color);
              color: #2e4258;
            }

            tr td {
              background-color: var(--white-color);
              height: 60px;
            }

            thead,
            tbody,
            tr {
              display: contents;
            }

            th,
            td {
              padding: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;

              .button-publish {
                border: 0;
                color: #fff;
                cursor: pointer;
                font-size: var(--font-size-h5);
                padding: 5px 10px;
                border-radius: 10px;
                background-color: var(--success-green-color);
                margin-right: 10px;
                text-transform: uppercase;
              }

              .button-publish:hover {
                transform: scale(1.1);
              }
            }

            th {
              position: sticky;
              top: 0;
            }

            th app-tooltip {
              margin-left: 5px;
            }

            th:last-child {
              border: 0;
            }

            td {
              padding-top: 10px;
              padding-bottom: 10px;
              color: #747685;
            }

            td.username {
              color: var(--primary-color);
              cursor: pointer;
            }

            td.username:hover {
              font-weight: bold;
            }

            tr:nth-child(even) td {
              background: #f8f6ff;
            }
          }
        }
      }
    }
  }
}
