<app-header></app-header>
<div class="draft-exam">
  <div class="draft-exam-container">
    <div class="back-container">
      <fa-icon
        [icon]="back"
        class="fa-2x back"
        title="Nazad"
        routerLink="/teacher/draft-exams"
      ></fa-icon>
    </div>
    <div class="general-info">
      <ng-container *ngIf="test$ | async as test">
        <div class="title">
          <h1>
            {{ test.name }}
          </h1>
          <fa-icon [icon]="editIcon" title="Uredi" (click)="edit()"></fa-icon>
        </div>
        <div class="padding-bottom">
          <span>Predmet: </span
          ><span
            class="clickable"
            [routerLink]="['/teacher', 'subjects', 'subject', test.subjectId]"
            >{{ test.subject }}</span
          >
        </div>
        <div class="padding-bottom">
          <span>Opis: </span
          ><span>{{ test.description ? test.description : "-" }}</span>
        </div>
        <div class="padding-bottom">
          <span>Trajanje: </span> <span> {{ test.duration }}</span>
        </div>
        <div class="publish-container">
          <button
            class="button-publish"
            (click)="onPublish(test.id)"
            [disabled]="!test.subjectsStudentsCount || !test.testsTasksCount"
            [ngClass]="
              test.subjectsStudentsCount && test.testsTasksCount
                ? 'enabled'
                : 'disabled'
            "
          >
            Objavi
          </button>
          <app-tooltip
            *ngIf="!test.subjectsStudentsCount"
            message="Nije moguće objaviti skicu ispita za odabrani predmet jer na njemu nema niti jednog učenika. Dodajte najprije željene učenike na predmet."
          ></app-tooltip>
          <app-tooltip
            *ngIf="test.subjectsStudentsCount && !test.testsTasksCount"
            message="Nije moguće objaviti skicu ispita jer ne sadrži niti jedan zadatak. Dodajte najprije zadatke u skicu ispita."
          ></app-tooltip></div
      ></ng-container>
    </div>

    <div class="tasks-container">
      <ng-container *ngIf="tasks$ | async as tasks">
        <ng-container *ngIf="tasks.length; else noTasks">
          <app-task-card
            *ngFor="let task of tasks; let index = index"
            [task]="task"
            [class]="'task' + task.id"
            [index]="index"
            (taskDeleted)="onTaskDeleted()"
          ></app-task-card>
        </ng-container>
        <ng-template #noTasks>
          <div *ngIf="!createTaskOpened" class="noTask">
            <p>Nema zadataka</p>
          </div>
        </ng-template></ng-container
      >

      <div *ngIf="createTaskOpened" class="task" id="newTask">
        <app-create-task-card
          [testId]="testId"
          (taskCreatedSuccessfully)="onTaskCreated($event)"
        ></app-create-task-card>
      </div>
    </div>
  </div>

  <app-button
    *ngIf="!createTaskOpened"
    class="add-task"
    title="Stvori zadatak"
    (click)="createTask()"
  ></app-button>
</div>
