<app-header></app-header>
<div class="draft-exam">
  <div class="draft-exam-container">
    <div class="back-container">
      <fa-icon
        [icon]="back"
        class="fa-2x back"
        title="Nazad"
        routerLink="/teacher/draft-exams"
      ></fa-icon>
    </div>
    <div class="general-info">
      <ng-container *ngIf="test$ | async as test; else loading">
        <div class="title">
          <h1>
            {{ test.name }}
          </h1>
          <fa-icon [icon]="editIcon" (click)="edit()"></fa-icon>
        </div>
        <div><span>Predmet: </span>{{ test.subject }}</div>
        <div><span>Opis: </span>{{ test.description }}</div>
        <div><span>Trajanje: </span> {{ test.duration }}</div></ng-container
      >
      <ng-template #loading> Loading</ng-template>
    </div>

    <div class="tasks-container">
      <ng-container *ngIf="tasks$ | async as tasks; else loading">
        <ng-container *ngIf="tasks.length; else noTasks">
          <app-task-card
            *ngFor="let task of tasks; let index = index"
            [task]="task"
            [class]="'task' + task.id"
            [index]="index"
            (taskDeleted)="onTaskDeleted()"
          ></app-task-card>
        </ng-container>
        <ng-template #noTasks>
          <div *ngIf="!createTaskOpened" class="noTask">
            <p>Nema zadataka</p>
          </div>
        </ng-template></ng-container
      >

      <ng-template #loading>Loading</ng-template>

      <div *ngIf="createTaskOpened" class="task" id="newTask">
        <app-create-task-card
          [testId]="testId"
          (taskCreatedSuccessfully)="onTaskCreated()"
        ></app-create-task-card>
      </div>
    </div>
  </div>

  <app-button
    *ngIf="!createTaskOpened"
    class="add-task"
    title="Stvori zadatak"
    (click)="createTask()"
  ></app-button>
</div>
