.draft-exam {
  padding: var(--elements-space) var(--padding-size-0);
  height: auto;
  width: 100%;
  background-color: var(--gray-background-color);
  display: flex;
  justify-content: center;
  position: relative;

  &-container {
    .back-container {
      margin-bottom: 10px;
      .back {
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        color: var(--primary-color);
      }
    }

    .general-info {
      padding: 20px;
      width: 100%;
      font-size: var(--paragraph-font-size);
      background: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);

      .padding-bottom {
        padding-bottom: 10px;
      }

      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1 {
          margin-bottom: 5px;
          color: var(--primary-color);
        }

        fa-icon {
          cursor: pointer;
          color: var(--secondary-color);
        }

        fa-icon:hover {
          color: var(--primary-color);
        }
      }

      span:nth-child(1) {
        color: #747685;
      }

      span:nth-child(2) {
        margin-left: 15px;
      }

      span.clickable {
        text-decoration: underline;
        cursor: pointer;
        color: black;
      }

      .publish-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .button-publish {
          border: 0;
          color: #fff;
          cursor: pointer;
          font-size: var(--font-size-h5);
          padding: 5px 10px;
          border-radius: 10px;
          background-color: var(--success-green-color);
          margin-right: 10px;
          text-transform: uppercase;
        }

        .button-publish.disabled {
          pointer-events: none;
          opacity: 0.6;
        }

        .button-publish.enabled:hover {
          transform: scale(1.1);
        }

        app-tooltip {
          color: #747685;
        }
      }
    }

    .tasks-container {
      .task {
        font-size: var(--paragraph-font-size);
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
          0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin: 20px 0;
      }

      .noTask {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-h4);
        color: var(--secondary-color);
      }
    }
  }

  .add-task {
    position: fixed;
    z-index: 10;
    right: 50px;
  }
}
