<div class="navBar">
  <div class="leftNavBar">
    <a routerLink="/landing">GeoQuest</a>
  </div>
  <div *ngIf="!ongoingExamOpened" class="middleNavBar">
    <ul *ngIf="currentUser$ | async as user">
      <li *ngFor="let item of navigationItems">
        <a *ngIf="item.role.includes(user.role)" routerLink="{{ item.link }}">{{
          item.text
        }}</a>
      </li>
      <li *ngIf="currentUser$ | async">
        <app-button title="Odjava" mr="8px" (click)="logout()"></app-button>
      </li>
    </ul>
  </div>
</div>
