<main class="class-req-send-dialog">
  <div class="header">
    <div>
      <h2>Nova skica ispita</h2>
      <!--h3>{{ data.classroomName }}</h3-->
    </div>
    <div>
      <fa-icon mat-dialog-close [icon]="closeIcon" class="fa-2x"></fa-icon>
    </div>
  </div>
  <div class="main">
    <form [formGroup]="form">
      <div class="form-container">
        <div class="form-group">
          <label for="subjectId"> Predmet </label>

          <app-dropdown
            formControlName="subjectId"
            [list$]="subjects$"
          ></app-dropdown>
        </div>
        <div
          *ngIf="form.get('subjectId')?.errors?.['required'] && form.get('subjectId')?.touched "
          class="alert"
        >
          Predmet je obavezan
        </div>
        <div class="form-group">
          <label for="name"> Naziv </label>
          <input type="text" formControlName="name" placeholder="Naziv..." />
        </div>
        <div
          *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
          class="alert"
        >
          Naziv je obavezan
        </div>

        <div class="form-group">
          <label for="duration"> Trajanje (HH:mm)</label>
          <input type="text" formControlName="duration" />
        </div>
        <div
          *ngIf="form.get('duration')?.errors?.['required'] && form.get('duration')?.touched"
          class="alert"
        >
          Trajnje je obavezno
        </div>
        <div
          *ngIf="form.get('duration')?.errors?.['invalidDuration'] && form.get('duration')?.touched"
          class="alert"
        >
          Ispravan format je HH:mm
        </div>
        <div class="form-group">
          <label for="description"> Opis </label>
          <textarea formControlName="description" cols="30" rows="3"></textarea>
        </div>
        <div
          *ngIf="form.get('description')?.errors?.['required'] && form.get('description')?.touched"
          class="alert"
        >
          Opis je obavezan
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <button
      class="button-confirm"
      (click)="confirmed()"
      [disabled]="!form.valid"
      [ngClass]="{ disabled: !form.valid }"
    >
      Potvrdi
    </button>
  </div>
</main>
