.login, .registration {
    padding: var(--elements-space) var(--padding-size-0);
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}





$gray-light: #f5f6f8;


.form {
   min-width: 50%;
}

.loginFailed {
    margin-top: var(--margin-size-5);
    margin-bottom: var(--margin-size-5);
    min-width: 50%;
    color: red;
    font-size: var(--font-size-h5);
    font-family: var(--primary-font-regular);
    text-align: center;
}

.flex-row {
    display: flex;
    margin-bottom: 1em;
}

.label {
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-light;
    cursor: pointer;
}

.input {
    flex: 1;
    padding: 1em;
    border: 0;
    color: var(--black-color);
    font-size: var(--font-size-h5);
    font-family: var(--primary-font-regular);
    min-width: 150px;

    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.2);
    }
}

.submit {
    display: block;
    padding: 1em;
    width: 100%;
    background-color: var(--primary-color);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: var(--font-size-h5);
    font-family: var(--secondary-font-bold);

    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
    }
}

.forgot {
    margin-top: 1em;
    color: blue;
    font-size: var(--font-size-h5);
    font-family: var(--primary-font-regular);
    text-align: center;
    position: relative;
}

h1 {
    color: var(--secondary-color);
    font-size: var(--heading-font-size);
    font-family: var(--primary-font-bold);
    margin-bottom: var(--margin-size-5);
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

