<app-header
  text1="Učenje uz"
  highlitedText="interaktivne"
  text2="geografske karte"
  height="145px"
></app-header>

<div class="login" *ngIf="loginOpened; else registration">
  <div class="container">
    <h1>Prijavi se</h1>
    <form class="form" [formGroup]="logInForm" (ngSubmit)="login()">
      <div class="flex-row">
        <label class="label" for="email">
          <fa-icon [icon]="email" size="lg"></fa-icon>
        </label>
        <input
          id="email"
          class="input"
          placeholder="Email"
          type="text"
          formControlName="email"
        />
      </div>
      <mat-error *ngIf="logInError('email', 'required')"
        >Email je obavezan</mat-error
      >
      <mat-error *ngIf="logInError('email', 'maxLength')"
        >Email može sadržavati najviše 50 znakova</mat-error
      >
      <mat-error *ngIf="logInError('email', 'email')"
        >Neispravan email</mat-error
      >
      <div class="flex-row">
        <label class="label" for="password">
          <fa-icon [icon]="password" size="lg"></fa-icon>
        </label>
        <input
          id="password"
          class="input"
          placeholder="Lozinka"
          type="password"
          formControlName="password"
        />
      </div>
      <mat-error *ngIf="logInError('password', 'required')"
        >Lozinka je obavezna</mat-error
      >
      <mat-error *ngIf="logInError('password', 'minlength')"
        >Lozinka mora sadržavati barem 8 znakova</mat-error
      >
      <input
        class="submit"
        type="submit"
        value="Prijavi se"
        [disabled]="!logInForm.valid"
        [ngClass]="{ disabled: !logInForm.valid }"
      />
    </form>
    <div *ngIf="loginFailed" class="loginFailed">
      Neispravan email ili lozinka
    </div>
  </div>
  <div class="container action">
    <p>Nemaš korisnički račun?</p>
    <app-button
      title="Registriraj se"
      ml="30px"
      (click)="showRegisterForm()"
    ></app-button>
  </div>
</div>

<ng-template #registration>
  <div class="registration">
    <div class="container">
      <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="flex-row">
          <label class="label" for="firstName">
            <fa-icon [icon]="email" size="lg"></fa-icon>
          </label>
          <input
            id="firstName"
            class="input"
            placeholder="Ime"
            type="text"
            formControlName="firstName"
          />
        </div>
        <mat-error *ngIf="registerError('firstName', 'required')"
          >Ime je obavezno</mat-error
        >
        <mat-error *ngIf="registerError('firstName', 'maxLength')"
          >Ime može sadržavati najviše 50 znakova</mat-error
        >

        <div class="flex-row">
          <label class="label" for="lastName">
            <fa-icon [icon]="email" size="lg"></fa-icon>
          </label>
          <input
            id="lastName"
            class="input"
            placeholder="Prezime"
            type="text"
            formControlName="lastName"
          />
        </div>
        <mat-error *ngIf="registerError('lastName', 'required')"
          >Prezime je obavezno</mat-error
        >
        <mat-error *ngIf="registerError('lastName', 'maxLength')"
          >Prezime može sadržavati najviše 50 znakova</mat-error
        >
        <div class="flex-row">
          <label class="label" for="email">
            <fa-icon [icon]="email" size="lg"></fa-icon>
          </label>
          <input
            id="email"
            class="input"
            placeholder="Email"
            type="text"
            formControlName="email"
          />
        </div>
        <mat-error *ngIf="registerError('email', 'required')"
          >Email je obavezan</mat-error
        >
        <mat-error *ngIf="registerError('email', 'maxLength')"
          >Email može sadržavati najviše 50 znakova</mat-error
        >
        <mat-error *ngIf="registerError('email', 'email')"
          >Neispravan email</mat-error
        >
        <div class="flex-row">
          <label class="label" for="password">
            <fa-icon [icon]="password" size="lg"></fa-icon>
          </label>
          <input
            id="password"
            class="input"
            placeholder="Lozinka"
            type="password"
            formControlName="password"
          />
        </div>
        <mat-error *ngIf="registerError('password', 'required')"
          >Lozinka je obavezna</mat-error
        >
        <mat-error *ngIf="registerError('password', 'minlength')"
          >Lozinka mora sadržavati barem 8 znakova</mat-error
        >
        <div class="flex-row">
          <label class="label" for="confirmPassword">
            <fa-icon [icon]="password" size="lg"></fa-icon>
          </label>
          <input
            id="confirmPassword"
            class="input"
            placeholder="Potvrdite lozinku"
            type="password"
            formControlName="confirmPassword"
          />
        </div>
        <mat-error *ngIf="registerError('confirmPassword', 'required')"
          >Potvrda lozinke je obavezna</mat-error
        >
        <mat-error
          *ngIf="
            registerForm.get('confirmPassword')?.value &&
            registerForm.hasError('mismatch')
          "
        >
          Lozinke se ne podudaraju
        </mat-error>
        <div class="flex-row">
          <p style="margin-right: 15px">Nastavite kao učitelj</p>
          <label class="toggle-control">
            <input type="checkbox" formControlName="isTeacherCheckboxChecked" />
            <span class="control"></span>
          </label>
        </div>

        <input
          class="submit"
          type="submit"
          value="Registriraj se"
          [disabled]="!registerForm.valid"
          [ngClass]="{ disabled: !registerForm.valid }"
        />
      </form>
    </div>
    <div class="container action">
      <p>Već imaš korisnički račun?</p>
      <app-button
        title="Prijavi se"
        ml="30px"
        (click)="showLoginForm()"
      ></app-button>
    </div>
  </div>
</ng-template>
