.exam-overview {
  padding: var(--elements-space) var(--padding-size-0);
  padding-bottom: 200px;
  height: auto;
  width: 100%;
  background: linear-gradient(184deg, #840a9a, #9980aa);
  display: flex;
  justify-content: center;

  .exam-overview-container {
    .back-container {
      margin-bottom: 10px;
      .back {
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        color: var(--primary-color);
      }
    }

    .overview-container {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;

      .overview {
        padding: 20px;
        flex: 2;
        font-size: var(--paragraph-font-size);
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
          0 2px 10px 0 rgba(0, 0, 0, 0.12);

        #main {
          height: 100%;
          .test-name {
            display: flex;
            justify-content: space-between;

            .test-status {
              border: 0;
              color: #fff;
              font-size: var(--font-size-h5);
              padding: 5px 10px;
              border-radius: 10px;
              text-transform: uppercase;
              height: min-content;
            }
            .closed {
              background-color: var(--alert-color);
            }
            .pending {
              background-color: var(--blue-color);
            }
          }

          .test-name h1 {
            color: var(--primary-color);
          }

          display: flex;
          flex-direction: column;

          .description {
            .group {
              margin: 10px 0;

              .name {
                color: var(--gray-color);
                margin: 0;
              }
            }
          }

          .other-info {
            display: flex;
            flex-wrap: wrap;

            div {
              flex: 1;
              display: flex;
              flex-direction: column;

              .group {
                margin: 10px 0;

                .name {
                  color: var(--gray-color);
                  margin: 0;
                }
              }

              .configuration {
                div.name {
                  cursor: pointer;
                  display: flex;
                  flex-direction: row;
                  width: fit-content;
                }

                div.name:hover {
                  color: var(--primary-color);
                }
              }
            }
          }

          footer {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            align-items: flex-end;

            div {
              .button-close {
                cursor: pointer;
                font-size: var(--font-size-h5);
                padding: 5px 10px;

                text-transform: uppercase;
              }

              .button-close:hover {
                transform: scale(1.1);
                text-decoration: underline;
                color: var(--primary-color);
              }
            }
          }
        }
      }

      .overview-stats {
        padding: 20px;
        flex: 1;
        font-size: var(--paragraph-font-size);
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
          0 2px 10px 0 rgba(0, 0, 0, 0.12);

        .cp-progress-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 15px;

          .cp-title {
            text-align: center;
            display: inline-block;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            color: var(--primary-color);
          }

          .cp-container {
            height: 200px;
            width: fit-content;
          }
        }

        .progress-container {
          margin-bottom: 15px;

          .progress {
            display: flex;
            margin: 10px 0;

            p {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .board {
      overflow-x: auto;
      display: flex;
      flex-direction: column;
      min-height: 700px;
      background: rgb(58 50 50 / 23%);
      padding: 15px;

      .no-students {
        font-size: var(--font-size-h4);
        text-align: center;
        color: var(--secondary-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      table {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns:
          minmax(150px, 1fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr)
          minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
        max-height: 400px;

        th {
          background-color: var(--gray-background-color);
          color: #2e4258;
        }

        tr td {
          background-color: var(--white-color);
          height: 60px;
        }

        thead,
        tbody,
        tr {
          display: contents;
        }

        th,
        td {
          padding: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;

          .button-close {
            border: 0;
            color: #fff;
            cursor: pointer;
            font-size: var(--font-size-h5);
            padding: 5px 10px;
            border-radius: 10px;
            background-color: var(--alert-color);
            text-transform: uppercase;
          }

          .button-close:hover {
            transform: scale(1.1);
          }
        }

        th {
          position: sticky;
          top: 0;
        }

        th app-tooltip {
          margin-left: 5px;
        }

        th:last-child {
          border: 0;
        }

        td {
          padding-top: 10px;
          padding-bottom: 10px;
          color: #747685;

          app-tooltip {
            margin-left: 5px;
          }
        }

        td.username {
          color: var(--primary-color);
          cursor: pointer;
        }

        .td.username-not-finished {
          color: var(--primary-color);
        }

        td.username:hover {
          font-weight: bold;
        }

        tr:nth-child(even) td {
          background: #f8f6ff;
        }
      }
    }
  }
}

app-tooltip {
  color: #747685;
}
