<app-header></app-header>

<div class="exam-overview">
  <div class="exam-overview-container">
    <div class="back-container">
      <fa-icon
        [icon]="back"
        class="fa-2x back"
        title="Nazad"
        routerLink="/teacher/exams"
      ></fa-icon>
    </div>
    <ng-container *ngIf="test$ | async as test; else loading">
      <div class="overview-container">
        <div class="overview">
          <main id="main">
            <header>
              <div class="test-name">
                <h1>{{ test.name }}</h1>
                <ng-container *ngIf="test.active; else testClosed">
                  <div class="test-status pending">U tijeku</div>
                </ng-container>
                <ng-template #testClosed>
                  <div class="test-status closed">Zatvoren</div>
                </ng-template>
              </div>
            </header>
            <div class="main">
              <div class="description">
                <div class="row">
                  <div class="group">
                    <p class="name">Opis ispita</p>
                    <p class="value">{{ test.description }}</p>
                  </div>
                </div>
              </div>
              <div class="other-info">
                <div>
                  <div class="col">
                    <div class="row">
                      <div class="group">
                        <p class="name">Predmet</p>
                        <p class="value">{{ test.subject }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <p class="name">Trajanje</p>
                        <p class="value">{{ test.duration }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="col">
                    <div class="row">
                      <div class="group">
                        <p class="name">Prosjek trajanja ispita</p>
                        <p class="value">{{ test.avgElapsedTime }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <p class="name">Ukupan broj bodova</p>
                        <p class="value">{{ test.totalPoints }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--div>
                  <div class="col">
                    <div class="row">
                      <div class="group">
                        <p class="name">Prosjek bodova</p>
                        <p class="value">{{ test.avgPoints }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="group">
                        <p class="name">Version</p>
                        <p class="value">{{ test.avgPoints }}</p>
                      </div>
                    </div>
                  </div>
                </div-->
              </div>
            </div>
            <footer *ngIf="test.active">
              <div>
                <span class="button-close" (click)="closeTest()">Zatvori</span>
              </div>
            </footer>
          </main>
        </div>
        <div class="overview-stats">
          <div class="cp-progress-container">
            <div class="cp-container">
              <circle-progress
                [backgroundOpacity]="1"
                [radius]="60"
                [space]="-10"
                [maxPercent]="100"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#9980aa'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [title]="studentsAvgPointsPercentage + '%'"
                subtitle="Riješenost ispita"
                [animateTitle]="false"
                [animationDuration]="700"
                [showUnits]="false"
                [showBackground]="false"
                [clockwise]="false"
                [responsive]="true"
                [startFromZero]="false"
                [lazy]="true"
                [percent]="studentsAvgPointsPercentage"
              ></circle-progress>
            </div>

            <p class="cp-title">{{ studentsAvgPointsMessage }}</p>
          </div>
          <div class="progress-container">
            <div class="progress">
              <p>Napredak rješavanja ispita</p>
              <app-tooltip
                [message]="studentsExamSolvingProgressMessage"
              ></app-tooltip>
            </div>
            <mat-progress-bar
              mode="determinate"
              [value]="studentsExamSolvingProgress"
              [title]="studentsExamSolvingProgress + '%'"
            ></mat-progress-bar>
          </div>

          <div class="progress-container">
            <div class="progress">
              <p>Napredak ispravljanja ispita</p>
              <app-tooltip
                [message]="teachersExamGradeProgressMessage"
              ></app-tooltip>
            </div>
            <mat-progress-bar
              mode="determinate"
              [value]="teachersExamGradeProgress"
              [title]="teachersExamGradeProgress + '%'"
            ></mat-progress-bar>
          </div>
        </div>
      </div>

      <div class="board">
        <table *ngIf="test.testInstances.length; else noTests">
          <thead>
            <tr>
              <th>Učenik</th>
              <th>Proteklo vrijeme</th>
              <th>Bodovi</th>
              <th>Riješeno</th>
              <th>Završeno</th>
              <th>Ispravljeno</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let test of test.testInstances">
              <ng-container *ngIf="test.finished; else notFinished">
                <td class="username" [routerLink]="['instance', test.id]">
                  <p>{{ test.student }}</p>
                </td>
              </ng-container>
              <ng-template #notFinished>
                <td class="username-not-finished">
                  <p>{{ test.student }}</p>
                </td>
              </ng-template>
              <td>
                <p>{{ test.elapsedTime }}</p>
              </td>
              <td>
                <p>{{ test.points }}</p>
              </td>
              <td>
                <p>{{ test.started && test.finished ? "Da" : "Ne" }}</p>
              </td>
              <td>
                <p>{{ test.finished ? "Da" : "Ne" }}</p>
              </td>
              <td>
                <p>{{ test.checked ? "Da" : "Ne" }}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noTests>
          <div class="no-students">
            Nema instanci ispita, to se ne bi smjelo nikad dogodit, takav se
            test nije smio publishat (znaci da se publishao iako nije bilo ni
            jednog studenta na predmetu) --> zapravo sad kad bum imo filter onda
            to i moze bit
          </div>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="loading-container">Loading</div>
    </ng-template>
  </div>
</div>
