<main>
  <div class="configuration-container">
    <ng-container [ngSwitch]="task.type">
      <ng-container *ngSwitchCase="TaskType.SelectPolygon">
        <div class="left">
          <app-select-polygon-map
            mapType="normal"
            context="view"
            [mapId]="task.id!.toString()"
            [answers]="task.options!.optionAnswers"
            [answer]="+task.answer!"
            [mode]="mode"
            (onPolygonSelected)="onSelectPolygonMapStudentAnswer($event)"
          ></app-select-polygon-map>
        </div>
        <div class="right">
          <div class="task-index">{{ index + 1 }}. zadatak</div>
          <div class="form-container">
            <div class="form-group">
              <label for="question-type"> Tip zadatka </label>
              <div class="question-type">Odaberi točan odgovor na karti</div>
            </div>
            <div class="form-group-column">
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="TaskType.MarkPolygon">
        <div class="left">
          <app-mark-polygon-map
            mapType="normal"
            context="view"
            [mapId]="task.id!.toString()"
            [answer]="task.answer!"
            [mode]="mode"
            (onPolygonMarked)="onMarkPolygonMapStudentAnswer($event)"
          ></app-mark-polygon-map>
        </div>
        <div class="right">
          <div class="task-index">{{ index + 1 }}. zadatak</div>
          <div class="form-container">
            <div class="form-group">
              <label for="question-type"> Tip zadatka </label>
              <div class="question-type">Označi na karti</div>
            </div>
            <div class="form-group-column">
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="TaskType.NonMap">
        <div class="left">
          <!--app-test-map></app-test-map-->
        </div>
        <div class="right">
          <div class="task-index">{{ index + 1 }}. zadatak</div>
          <div class="form-container">
            <div class="form-group">
              <label for="question-type"> Tip zadatka </label>
              <div class="question-type">Obično pitanje</div>
            </div>
            <div class="form-group-column">
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>

            <div class="form-group-column">
              <label for="answer"> Answer </label>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="TaskType.MarkPoint">
        <div class="left">
          <app-mark-point-map
            mapType="satellite"
            [mapId]="task.id!.toString()"
            [answer]="task.answer!"
            [mode]="mode"
            (onPointMarked)="onMarkPointMapStudentAnswer($event)"
          ></app-mark-point-map>
        </div>
        <div class="right">
          <div class="task-index">{{ index + 1 }}. zadatak</div>
          <div class="form-container">
            <div class="form-group">
              <label for="question-type"> Tip zadatka </label>
              <div class="question-type">Označi točkom na karti</div>
            </div>
            <div class="form-group-column">
              <label for="question"> Tekst zadatka </label>
              <div class="question" [innerHTML]="task.question"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</main>
